[user]
  name = Daniel Seripap
  email = daniel@seripap.com
[alias]
  co = checkout
  s = status -sb
  ps = push
  p = pull
  a = add
  aa = "add --all"
  b = branch
  f = fetch
  rb = rebase
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  tt = tag --sort v:refname
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  undo = reset HEAD~1 --mixed
  pr = !"f(){ git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1; }; f"
  dm = !git branch --merged | grep -v '\\*' | xargs -n1 git branch -d
  fc = !"f(){ git log --pretty=format:'%C(yellow)%h %Cgreen%ad %Creset%s' --date=short -S\"$1\"; }; f"
  alias = !git config -l | grep ^alias | cut -c 7- | sort
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential]
  helper = osxkeychain
[core]
  pager = less -RFX
  excludesfile = ~/.gitignore
  editor = nvim
[url "https://"]
  insteadOf = git://
[merge]
  tool = nvimdiff
  prompt = false
[github]
  user = seripap
[gpg]
  #program = gpg
  format = ssh
[commit]
	gpgsign = false
[ghi]
  token = !security find-internet-password -a seripap -s github.com -l 'ghi token' -w
[mergetool]
  keepBackup = false
[mergetool "zed"]
  cmd = zed --wait $MERGED
  trustExitCode = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[difftool]
  prompt = true
[diff]
  tool = nvimdiff
  external = difft
[url "git@github.com:"]
  insteadOf = https://github.com/
[push]
  autoSetupRemote = true
